/* footer */
/* foot_inner */
.foot_inner li{float: left;}
.foot_inner a{color: #fff;}

.foot_inner>div:first-of-type{width: 100%;border-bottom: 1px solid #6c6f73;padding-bottom: 20px;margin-bottom: 20px;}
.foot_inner>div:first-of-type:after{content: "";display: block;clear: both;}

.foot_inner>div:first-of-type>ul:first-of-type{float: left;}
.foot_inner>div:first-of-type>ul:first-of-type>li{position: relative;padding-right: 20px;margin-right: 20px;}
.foot_inner>div:first-of-type>ul:last-of-type{float: right;}
.foot_inner>div:first-of-type>ul:first-of-type>li::after{content: "";position: absolute;right: 0;top: 50%;margin-top: -5px;width: 1px;height: 14px;background: #999;}
.foot_inner>div:first-of-type>ul:first-of-type>li:last-of-type{display: none;}

.foot_inner>div:first-of-type>ul:last-of-type{float: right;}
.foot_inner>div:first-of-type>ul:last-of-type>li{margin-left: 15px;}
.foot_inner>div:first-of-type>ul:last-of-type>li>a{display: block;width: 21px;height: 19px;background: url(../images/sns_link_ico.png)no-repeat 0 0;text-indent: -9999px;overflow: hidden;}
.foot_inner>div:first-of-type>ul:last-of-type>li:first-child>a{background-position-x: 0;}
.foot_inner>div:first-of-type>ul:last-of-type>li:nth-child(2)>a{background-position-x: -30px;}
.foot_inner>div:first-of-type>ul:last-of-type>li:nth-child(3)>a{background-position-x: -60px;}
.foot_inner>div:first-of-type>ul:last-of-type>li:last-child>a{background-position-x: -90px;}

.foot_inner>div:last-of-type>ul{float: left;margin-bottom: 20px;}
.foot_inner>div:last-of-type>ul>li{margin-right: 30px;}
.foot_inner>div:last-of-type>ul>li>a{color: #ccc;}
.foot_inner>div:last-of-type>ul>li:nth-child(3)>a{color: #00ccff;}

.foot_inner>div:last-of-type>p{float: right;color: #ccc;font-size: 12px;}

.foot_inner>div:last-of-type>address{clear: both;width: 420px;color: #ccc;}
.foot_inner>div:last-of-type>address>span{position: relative;padding-right: 10px;margin-right: 10px;}
.foot_inner>div:last-of-type>address>span:after{content: "";position: absolute;right: 0;top: 50%;margin-top: -5px;width: 1px;height: 10px;background: #ccc;}
.foot_inner>div:last-of-type>address>span:nth-of-type(3):after{display: none;}
.foot_inner>div:last-of-type>address>span:nth-of-type(4):after{display: none;}