@import url(reset.css);
/* main.css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
/* font-family: 'Noto Sans', sans-serif; */




/* content1 */
.content1>h2{font-size: 34px;font-weight: bold;text-align: center;line-height: 1;margin-bottom: 70px;}
.content1>ul{height: 200px;margin-bottom: 48px;}
.content1>ul>li{float: left;border-right: 1px solid #ccc;}
.content1>ul>li:nth-child(1){width: 230px;margin-left: 80px;background: url(../images/icon_aboutus_01.png)no-repeat 50% 0;}
.content1>ul>li:nth-child(2){width: 260px;background: url(../images/icon_aboutus_02.png)no-repeat 50% 0;}
.content1>ul>li:nth-child(3){width: 250px;background: url(../images/icon_aboutus_03.png)no-repeat 50% 0;}
.content1>ul>li:nth-child(4){width: 310px;border: none;background: url(../images/icon_aboutus_04.png)no-repeat 50% 0;}

.content1>ul>li>dl{text-align: center;padding-top: 72px;}
.content1>ul>li>dl>dd{font-size: 18px;font-weight: 600;line-height: 64px;}
.content1>ul>li>dl>dd>span{font-size: 36px;}

.content1>p{text-align: right;line-height: 1;font-size: 12px;}
.content1>div>a{display: block;width: 180px;height: 45px;margin: 0 auto;background: url(../images/icon_btn_arrow_w.png)no-repeat 70% 50% #042385;color: #fff;line-height: 45px;text-align: center;}

/* content2 */
.content2>h2{font-size: 34px;font-weight: bold;text-align: center;line-height: 1;margin-bottom: 70px;}
.content2>ul{padding: 0 24px;margin-bottom: 60px;}
.content2>ul::after{content: "";display: block;clear: both;}
.content2>ul>li{float: left;width: 208px;margin-right: 74px;}
.content2>ul>li:last-child{margin-right: 0;}
.content2>ul>li>a{display: block;width: 100%;height: 80px;border-bottom: 1px solid #d6d6d6;font-size: 18px;color: #333;font-weight: 600;}
.content2>ul>li>span{display: block;padding-top: 25px;font-size: 16px;color: #333;}

.content2>.newsletter{float: left;width: 540px;background: url(../images/bg_newsletter.jpg)no-repeat 0 0;padding: 30px;}

.newsletter>ul::after{content: "";display: block;clear: both;}
.newsletter>ul>li{float: left;margin-right: 20px;}
.newsletter>ul>li>a{display: block;width: 150px;height: 45px;text-align: center;line-height: 45px;background: #fff url(../images/btn_arrow_ico_g.png)no-repeat 90% 50%;}

.content2>.social{float: right;width: 480px;padding-top: 30px;}
.social>ul{width: 100%;}
.social>ul::after{content: "";display: block;clear: both;}
.social>ul>li{float: left;margin-right: 40px;}
.social>ul>li>a{background: url(../images/icon_social.png)no-repeat 0 0;width: 61px;height: 61px;display: block;text-indent: -9999px;overflow: hidden;}

.social>ul>li:nth-child(1)>a{background-position-x: 0;}
.social>ul>li:nth-child(2)>a{background-position-x: -62px;}
.social>ul>li:nth-child(3)>a{background-position-x: -124px;}
.social>ul>li:nth-child(4)>a{background-position-x: -186px;}

.content2>div>h3{font-size: 30px;font-weight: bold;}
.content2>div>p{font-size: 16px;padding: 10px 0 20px;}

/* content3 */
.content3>h2{margin-bottom: 30px;font-size: 34px;color: #222;text-align: center;line-height: 1;}
.content3>div{width: 350px;padding-top: 216px;position: relative;}


.content3>div:last-child{float:left; left: 0;top: 0; background: url(../images/bg_product_01.jpg)no-repeat 0 0;}
.content3>div:nth-child(2){position: absolute;left: 770px; background: url(../images/bg_product_02.jpg)no-repeat 0 0;}
.content3>div:nth-child(3){float: right;background: url(../images/bg_product_03.jpg)no-repeat 0 0;}

.content3>div>h3{font-size: 26px;color: #042385;font-weight: bold;}
.content3>div>p{padding: 10px 0;font-size: 16px;}
.content3>div>ul{border-top: 2px solid #042385;}
.content3>div>ul>li{border-bottom: 1px solid #ccc;background: url(../images/icon_btn_arrow_b.png)no-repeat 100% 50%;line-height: 80px;}
.content3>div>ul>li>a{display: block;color: #333;font-size: 18px;font-weight: 600;}

/* sitemap */
.sitemap>ul{width: 1142px;margin: 0 auto;padding: 60px 0 120px;}
.sitemap>ul::after{content: "";display: block;clear: both;}
.sitemap>ul>li{float: left;margin-right: 165px;line-height: 40px;}
.sitemap>ul>li:last-child{margin-right: 0;}
.sitemap>ul>li>a{color: #333;font-size: 18px;font-weight: bold;}


/* top */
a.btn_top{width: 60px;height: 60px;border: 1px solid #333;display: none;background: #fff url(../images/top_btn_ico.png)no-repeat 50% 20%;font-size: 13px;color: #333;text-align: center;line-height: 80px;cursor: pointer;position: fixed;bottom: 30px;right: 80px;}
a.btn_top.on{display: block;}
a.btn_top.ab{position: absolute;bottom: auto;top: -100px;right: 80px;}






