@import url(reset.css);
/* main.css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
/* font-family: 'Noto Sans', sans-serif; */

/* common */
body{font-size: 14px;font-family: 'Noto Sans', 'Noto Sans KR',helvetica, sans-serif;color: #333;}
a{text-decoration: none;color: #333;}
a:hover{text-decoration: none;color: #333;}



/* header */
/* 로고 */
h1.logo{position: absolute;left: 30px;top: 18px;}
h1.logo>a{display: block;width: 176px;height: 36px;background: url(../images/logo.png) no-repeat 0 0;text-indent: -9999px;overflow: hidden;}

/* 주메뉴 */
nav.gnb{overflow: hidden;}
nav.gnb>ul{width: 100%;text-align: center;}
nav.gnb>ul>li{display: inline-block;padding: 0 45px;line-height: 70px;}
nav.gnb>ul>li>a{display: inline-block;position: relative;font-weight: 600;font-size: 18px;color: #000;}
nav.gnb>ul>li>a::after{content: "";display: block;position: absolute;left:50%;bottom: 0;width: 0;height: 3px;opacity: 0; transition: all .3s ease;background-color: #043285;}
nav.gnb>ul>li:hover>a::after{left: 0;width: 100%;opacity: 1;}
nav.gnb>ul>li>div{display: none;position: absolute;left: 0;width: 100%;}

/* 동작 */
nav.gnb>ul>li.on>div{display: block;}

/* 2depth */
nav.gnb>ul>li>div>ul{padding: 50px 0;}
nav.gnb>ul>li>div>ul>li{display: inline-block;vertical-align: top;line-height: 40px;border-right: 1px solid #ddd;padding:  0 30px;text-align: left;}
nav.gnb>ul>li:nth-child(1)>div>ul>li{height: 266px;}
nav.gnb>ul>li:nth-child(2)>div>ul>li{height: 196px;}
nav.gnb>ul>li:nth-child(3)>div>ul>li{height: 117px;}
nav.gnb>ul>li:nth-child(4)>div>ul>li{height: 227px;}
nav.gnb>ul>li:nth-child(5)>div>ul>li{height: 160px;}

nav.gnb>ul>li>div>ul>li:last-of-type{border: none;}
nav.gnb>ul>li>div>ul>li>a{display: block;font-weight: bold;font-size: 16px;color: #1428a0;line-height: 1;margin-bottom: 20px;}
nav.gnb>ul>li>div>ul>li>ul{float: left;}
nav.gnb>ul>li>div>ul>li>ul:nth-of-type(2){margin-left: 40px;}
/* .gnt_btn */
nav.gnb .gnb_btn>a{display: inline-block;border: 1px solid #ddd;border-radius: 4px;padding: 20px;background: #fff url(../images/btn_arrow_ico_l.png) no-repeat 95% 50%;line-height: 1;text-align: left;}
nav.gnb .gnb_btn>a>strong{display: block;font-weight: 600;font-size: 18px;margin-bottom: 16px;}

nav.gnb li:nth-of-type(1) .gnb_btn>a>strong{color: #1428a0;}
nav.gnb li:nth-of-type(1) .gnb_btn>a{width: 780px;background-position: 97% 50%;}

nav.gnb li:nth-of-type(4) .gnb_btn>a{width: 320px;}
nav.gnb .gnb_btn>a>p{font-size: 14px;}

/* 탑메뉴 */
dl.top_menu{position: absolute;right: 60px;top: 0;}
dl.top_menu>dd{float: left;}
dl.top_menu>dd>a{position: relative;display: block;width: 60px;height: 40px;text-align: center;font-weight: 600;padding-top: 30px;}
dl.top_menu>dd>a::after{content: "";position: absolute;left: 0;top: 50%;width: 1px;height: 10px;background: #ddd;}
dl.top_menu>dd:nth-of-type(1)>a{background: url(../images/ico_inq.png) no-repeat 50% 30px;text-indent: -9999px;overflow: hidden;}
dl.top_menu>dd:nth-of-type(1)>a::after{display: none;}
/* 2depth */
dl.top_menu>dd>ul{position: absolute;top: 67px;width: 60px; border-top: 3px solid #1428a0; background: #fff;padding-top: 10px;display: none;}

dl.top_menu>dd:hover>ul{display: block;}
/* sns */
dl.top_menu>dd:nth-of-type(2)>ul>li>a{display: block;width: 30px;height: 30px;border-radius: 50%;margin: 0 auto 10px;background: #ddd url(../images/utill_sns_ico.png) no-repeat;text-indent: -9999px;overflow: hidden;}
dl.top_menu>dd:nth-of-type(2)>ul>li:nth-of-type(1)>a{background-position:-30px;}
dl.top_menu>dd:nth-of-type(2)>ul>li:nth-of-type(2)>a{background-position: -60px;}
dl.top_menu>dd:nth-of-type(2)>ul>li:nth-of-type(3)>a{background-position: 0px;}
dl.top_menu>dd:nth-of-type(2)>ul>li:nth-of-type(4)>a{background-position: -120px;}
/* lang */
/* .top_menu>dd:nth-of-type(3)>ul a{line-height: 3;display: block;text-align: center;} */
.top_menu>dd:last-of-type>ul{height: 130px;}
.top_menu>dd:last-of-type>ul>li{text-align: center;padding: 10px 0;}

/* 검색버튼 */
div.btn_srch{position: absolute;right: 0;top: 0;width: 60px;height: 70px;}
div.btn_srch>a{display: block;height: 70px;background: #043285 url(../images/btn_srch_ico.png) no-repeat 50% 50%;text-indent: -9999px;overflow: hidden;}

/* .srch_wrap */
.srch_wrap{display: none;position: fixed;left: 0;top: 0;width: 100%;height: 100%; background: rgba(0, 0, 0, .6);}
.srch_wrap .srch_inner{position: absolute;left: 0;top: 70px;width: 100%;height: 200px;padding-top: 60px;background: #043285 url(../images/srch_pop_bg.jpg) no-repeat 0 0;}
.srch_wrap.on {display: block;}
/* 검색창 */
.srch_inner>form{width: 655px;margin: 0 auto;}
.srch_inner>form>fieldset{width: 100%;height: 55px;background: #fff;margin-bottom: 20px;}
.srch_inner input[type="search"]{width: 600px;height: 55px;border: none;text-indent: 20px;}
.srch_inner button[type="button"]{width: 45px;height: 45px;transform: translate(1px,1px); background: #333 url(../images/btn_srch_ico_l.png) no-repeat 50% 50%;text-indent: -9999px;overflow: hidden;}
/* 하단버튼 */
.srch_inner>form>ul{border-top: 1px solid rgba(255,255,255,.5);padding-top: 20px;}
.srch_inner>form>ul>li{float: left;padding: 0 29px;border-radius: 5px;margin-right: 10px;background: #eee url(../images/btn_arrow_ico_m.png)no-repeat 90% 50%;font-size: 16px;line-height: 45px;}
.srch_inner>form>ul>li:last-of-type{float: right;margin-right: 0;}
a.btn_srch_close{position: absolute;right: 0;top: 0;width: 60px;height: 70px;background: #043285 url(../images/pop_close_w.png) no-repeat 50% 50%;text-indent: -9999px;overflow: hidden;}

/* container */
.spot{background: url(../images/faq_visual_img.jpg)no-repeat 50% 0;color: #fff;height: 320px;}
.spot_inner>h2{font-size: 46px;margin-bottom: 15px;}
.spot_inner>p{font-size: 16px;color: #eee;}
.spot_inner>p.path{position: absolute;bottom: 20px;right: 0;text-align: right;font-size: 14px;color: #ccc;}
/* content */
#content h3{font-size: 36px;color: #000;font-weight: bold;line-height: 1;}
#content h3::after{content: "";display: block;width: 40px;height: 3px;background: #043285;margin: 30px 0;}
/* faq */
div.faq{display: flex;justify-content: space-between;width: 100%;padding: 20px 30px;box-sizing: border-box;border: 1px solid #ccc;margin-bottom: 60px;}
.faq>p{font-size: 16px;line-height: 45px;}
.faq>a{display: block;width: 160px;height: 45px;background: #043285 url(../images/icon_btn_arrow_w.png) no-repeat 90% 50%;color: #fff;font-size: 16px;text-align: center;line-height: 45px;}

/* step1 */
.step1>ul{display: flex;margin: 0 auto;width: 100%;height: 170px;box-sizing: border-box;margin-bottom: 120px;}
.step1>ul>li{flex: 1;text-align: center;}
/* 리스트는 내용물의 높이에 따라 변하기 때문에 굳이 높이값을 또 정해줄 필요가 없음.  */
.step1>ul>li>a{display: block;height: 170px;padding-top: 120px;box-sizing: border-box;font-size: 17px;border: 1px solid #ccc;border-left: none;}

.step1>ul>li:first-child>a{background: url(../images/ico_inquiry_01.png) no-repeat 50% 35%;border-left: 1px solid #ccc;}
.step1>ul>li:nth-child(2)>a{background: url(../images/ico_inquiry_02.png) no-repeat 50% 35%;}
.step1>ul>li:nth-child(3)>a{background: url(../images/ico_inquiry_03.png) no-repeat 50% 35%;}
.step1>ul>li:nth-child(4)>a{background: url(../images/ico_inquiry_04.png) no-repeat 50% 35%;}
.step1>ul>li:nth-child(5)>a{background: url(../images/ico_inquiry_05.png) no-repeat 50% 35%;}
.step1>ul>li:last-child>a{background: url(../images/ico_inquiry_06.png) no-repeat 50% 35%;border-right: none;}

/* step2 */
.step2 p{font-size: 16px;letter-spacing: -.5px;margin-bottom: 20px;}
.step2 .essential{text-align: right;margin-bottom: 10px;}

.step2>form>fieldset>dl{border-top: 1px solid #333;padding: 50px 80px;background-color: #f3f3f3;}
.step2>form dt{font-size: 20px;font-weight: 600;}
.step2>form dt>label>span{padding-right: 5px;color: #1a76b7;font-size: 24px;}
.step2>form dl input,.step2>form select{width: 100%;height: 45px;border: 1px solid #ccc;margin: 20px 0;box-sizing: border-box;text-indent: 10px;}
.step2>form textarea{width: 100%;height: 260px;padding: 18px;border: 1px solid #ccc;margin: 20px 0;box-sizing: border-box;}

.step2>form .product{display: flex;justify-content: space-between;}
.step2>form .product select{width: 310px;}
.step2>form .separate{border-bottom: 1px solid #ccc;margin-bottom: 20px;}

.step2>form .user{display: flex;justify-content: space-between;}
.step2>form .user>dl input{width: 480px;}

.phone input{margin-bottom: 10px;}
.step2>form .phone input:first-of-type{width: 310px;margin-right: 14px;}
.step2>form .phone input:last-of-type{width: 620px;margin-left: 14px;}
.phone input p{padding-bottom: 20px;font-size: 16px;color: #333;}

.step2 .attach input[type="text"]{width: 794px;margin-right: 20px;background: #fff;}
.step2 .attach label{display: inline-block;width: 160px;height: 45px;background: #333;color: #fff;text-align: center;line-height: 45px;}
.step2 .attach input[type="file"]{display: none;}

/* 개인정보동의 */
.step2>form h4{font-size: 30px;margin: 80px 0 20px;}
.step2>form .agree{border: 1px solid #ccc;padding: 50px;margin-bottom: 90px;font-size: 16px;color: #666;}
.step2>form h5{color: #0079cc;margin-bottom: 10px;}
.step2>form .agree>ul{margin-bottom: 15px;}
.step2>form .agree>ul>li{background: url(../images/bg_list_dot.gif) no-repeat 0 50%;text-indent: 10px;}
.step2>form .agree>ul>li>span{color: #0079cc; font-size: 20px;text-decoration: underline;}
.step2>form .agree p:nth-last-of-type(1){text-align: right;}
.step2>form .agree p:nth-last-of-type(2){display: flex;justify-content: space-between;}

/* 접수하기 */
.step2>form input[type="submit"]{display: block;width: 160px;height:45px;margin: 0 auto;border: none;background: #043285 url(../images/btn_arrow_ico_w.png) no-repeat 75% 50%;color: #fff;text-align: center;}

/* footer */
.foot_inner li{float: left;}
.foot_inner li a{color: #fff;}
.foot_inner>div:first-of-type{width: 100%;padding-bottom: 20px;margin-bottom: 20px;border-bottom: 1px solid #6c6f73;}
.foot_inner>div:first-of-type::after{content: "";display: block;clear: both;}

.foot_inner>div:first-of-type>ul:first-of-type>li{position: relative;padding: 0 14px;}
.foot_inner>div:first-of-type>ul:first-of-type>li::after{content: "";display: block;position: absolute;right: 0;top: 50%;margin-top: -7px;width: 1px;height: 14px;background: #999;}
.foot_inner>div:first-of-type>ul:first-of-type>li:last-of-type::after{display: none;}
.foot_inner>div>ul:first-of-type>li:first-of-type{padding-left: 0;}
.foot_inner>div>ul:last-of-type>li:first-of-type{border-right: none;}

/* sns */
.foot_inner>div:first-of-type>ul:last-of-type{float: right;}
.foot_inner>div:first-of-type>ul:last-of-type::after{content: "";display: block;clear: both;}
.foot_inner>div:first-of-type>ul:last-of-type>li{width: 21px;height: 21px;margin-left: 15px;}

.foot_inner>div:first-of-type>ul:last-of-type>li>a{display: block;height: 21px;margin-left: 0px;background: url(../images/sns_link_ico.png) no-repeat 0 0;text-indent: -9999px;overflow: hidden;}

.foot_inner>div:first-of-type>ul:last-of-type>li:nth-of-type(1)>a{background-position: 8px 0;}
.foot_inner>div:first-of-type>ul:last-of-type>li:nth-of-type(2)>a{background-position: -30px 0;}
.foot_inner>div:first-of-type>ul:last-of-type>li:nth-of-type(3)>a{background-position: -60px 0;}
.foot_inner>div:first-of-type>ul:last-of-type>li:nth-of-type(4)>a{background-position: -90px 0;}

/* 하단 */
.foot_inner>div:last-of-type>ul{display: inline-block;margin-bottom: 20px;}

.foot_inner>div:last-of-type>ul>li{padding-right: 30px;}
.foot_inner>div:last-of-type>ul>li>a{font-weight: none;color: #ccc;}
.foot_inner>div:last-of-type>ul>li:nth-of-type(3)>a{color: #00ccff;}

.foot_inner>div:last-of-type>p{float: right;font-size: 12px;color: #ccc;}

.foot_inner>div:last-of-type>address{color: #ccc;width: 420px;}
.foot_inner>div:last-of-type>address>span{position: relative;padding-right: 11px;margin-right: 10px;}
.foot_inner>div:last-of-type>address>span::after{content: "";display: block;position: absolute;right: 0;top: 50%;margin-top: -5px;width: 1px;height: 10px;background: #999;}

.foot_inner>div:last-of-type>address>span:last-child::after,.foot_inner>div:last-of-type>address>span:nth-of-type(3)::after{display: none;}

/* 상단으로 이동 */
.btn_top{display: none;position: fixed;right: 80px;bottom: 30px;width: 60px;height: 60px;border: 1px solid #333;background: #fff url(../images/top_btn_ico.png) no-repeat 50% 20%;font-size: 13px;text-align: center;line-height: 80px;cursor: pointer;}
.btn_top.on{display: block;z-index: 33;}
.btn_top.ab{position: absolute;bottom: auto;top: -100px;right: 80px;}